@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper{
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}
.slick-dots{
  position: relative;
  top: 400px;
  /* bottom: -50px; */
}
.slick-dots li button:before{
 width: 10px;
 height: 10px;
} 
.slick-dots li button:before{
  border-radius: 50%;
}
.slick-dots li button:before{
  background-color:#DB4444;
  border: 3px solid white;
}
.slick-dots li button:before {
  color: transparent !important;
}